@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h1 {
    font-size: 20px;
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

body {
    background: #000;
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 10px;
    padding-inline: 4vh;
    z-index: 10;
    background: #000;
    width: -webkit-fill-available;
}

nav .nav-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}

nav .nav-profile img {
    width: 40px;
    height: 40px;
}

nav .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    gap: 30px;
}

.nav-links a {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    text-transform: uppercase;
    position: relative;
}

.nav-links a::after {
    position: absolute;
    bottom: -5px;
    content: '';
    background: white;
    width: 100%;
    height: 1px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

.nav-links a:hover {
    opacity: 0.8;
}

.nav-links a:focus::after {
    opacity: 1;
}

header {
    margin-top: 5vh;
    display: flex;
    padding: 4vh;
    justify-content: center;
    
}

header h2 {
    text-transform: uppercase;
    font-size: 4em;
    cursor: pointer;
}

.projects-container {
    padding-inline: 4vh;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-container li {
    position: relative;
    text-align: center;
}

.projects-container li h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 5vw;
}

.projects-container img {
    max-width: 100%;
    border-radius: 3px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.projects-container li:hover h3 {
    opacity: 1;
    cursor: pointer;
}

.projects-container li:hover h3:hover {
    opacity: 0.7;
}

.projects-container li:hover img {
    opacity: 0.5;
}

footer {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.5em;
    opacity: 0.6;
}

@media screen and (max-width: 700px) {
    h1 {
        display: none;
    }
    header {
        justify-content: center;
    }
}
